<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-login-image" 
                    style="background-image: url('/public/image/VooSust .png'); background-size: cover; background-position: center;">
               </div>
               <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>

                        <% if (locals.validation_error !=undefined || locals.success_message !=undefined || locals.login_error !=undefined) { %>
                         
                        
                        <%- include("./partials/message") %>
                        <% } %>
                    </div>
                    <form class="user" action="/login" method="POST">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control form-control-user" value="<%= typeof email !== 'undefined' ? email : '' %>"
                                id="exampleInputEmail" aria-describedby="emailHelp"
                                placeholder="Enter Email Address...">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control form-control-user"
                                id="exampleInputPassword" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Login
                        </button>
                    </form>
                    
                    <hr>
                    <div class="text-center">
                        <a class="small" href="/forget-password">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="/register">Create an Account!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>
<script>
    // Telefon numarası alanına intl-tel-input bağlama
    const phoneInputField = document.querySelector("#phone");
    const iti = window.intlTelInput(phoneInputField, {
    initialCountry: "auto", // Kullanıcının bulunduğu ülkeyi otomatik seçer
    geoIpLookup: function (callback) {
    fetch('https://ipinfo.io?token=your_api_token') // IP'ye göre ülke bilgisi
    .then(response => response.json())
    .then(data => callback(data.country))
    .catch(() => callback("us")); // Varsayılan ülke: US
    },
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js"
    });
    
    // Form gönderiminde telefon numarasını uluslararası formatta gönderme
    const form = document.querySelector("form");
    form.addEventListener("submit", function (e) {
    const phoneNumber = iti.getNumber(); // Telefon numarasını uluslararası formatta al
    const phoneInput = document.querySelector("#phone");
    phoneInput.value = phoneNumber; // Formdaki telefon alanını güncelle
    });
    </script>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css">
    
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>