<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VooSust Dijital Çözümler</title>
    <meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/favicon-16x16.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/image/voosust logo.png" alt="logo" width="60" height="60">
            </a>
            <div class="dropdown d-inline">
                <button class="btn btn-sm px-0 dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    TR
                </button>
                <ul class="dropdown-menu border shadow" style="left: 0;">
                    <li><a class="dropdown-item small py-1" href="./avrupa-tr">Türkçe</a></li>
                    <li><a class="dropdown-item small py-1" href="./cdr">English</a></li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mg-lg">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="./tr">ANASAYFA</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#blog" role="button" data-bs-toggle="dropdown" aria-expanded="false">BLOG</a>
                        <ul class="dropdown-menu">
                            <li><a style="color: green;" class="dropdown-item" href="./blog">VooSust Blog</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a style="color: green;" class="dropdown-item" href="./carbon_credi-tr">Karbon Kredisi Ticareti</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a style="color: green;" class="dropdown-item" href="./cdr-tr">CDR Nedir?</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a style="color: green;" class="dropdown-item" href="./turkey_rapor-tr">Türkiye Sürdürülebilirlik Raporu</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a style="color: green;" class="dropdown-item" href="./avrupa-tr">Fuel EU</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="./tr/#special">HİZMETLERİMİZ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">BİZE ULAŞ</a></li>
                    <li class="nav-item">
                        <a style="color: green;" class="nav-link btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal">ÜYE OL</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signUpModalLabel">Sign Up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="py-3 text-start">
                        <div class="row mb-3">
                            <div class="col-md-6 mb-3">
                                <input type="text" placeholder="Name and Surname" class="form-control" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="email" placeholder="Mail Address" class="form-control" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Username" />
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Confirm Password" />
                        </div>
                        <button type="button" class="btn btn-primary">Sign Up</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <p>or</p>
                        <button type="button" class="btn btn-danger" onclick="signInWithGoogle()">Sign in with Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <!-- Blog Entry -->
    <div id="blog-entry">
        <div id="blog-content">
            <h2 style="text-align: center;">AVRUPA BİRLİĞİ DENİZ TAŞIMACILIĞINDA YENİLENEBİLİR VE DÜŞÜK KARBONLU YAKITLARIN KULLANIMI DÜZENLEMESİ</h2>
        </div>
    </div>
    
    <div id="comments">
        <div class="comment">
            <img src="/image/world.jpg" alt="Kullanıcı Avatarı">
            <div class="comment-content">
                <p>• Düzenleme: "Denizcilik Ulaştırmasında Yenilenebilir ve
                  Düşük Karbonlu Yakıtların Kullanımı Hakkında Avrupa
                  Parlamentosu ve Konseyinin 2023/1805 Sayılı
                  Düzenlemesi” <br>
                  • Yayınlanma Tarihi: 13 Eylül 2023 <br>
                  • Uygulamaya Giriş Tarihi: 1 Ocak 2025 <br>
                  • Amaç: Avrupa Birliği’nde deniz taşımacılığında
                  yenilenebilir ve düşük karbonlu yakıtların ve alternatif
                  enerji kaynaklarının tutarlı bir şekilde kullanılmasını
                  arttırmaktır.</p>
            </div>
        </div>
    </div>
    <div id="compliance-container">
      <div id="compliance-title">DÜZENLEMENİN KAPSAMI</div>
      <div id="compliance-content">
          <div id="compliance-asset">
              <h3>KAPSAMI</h3>
              <p>• Düzenleme, belirli bir yakıt veya teknoloji kullanımını zorunlu
                kılmamakta, bunun yerine enerji kaynaklarının GHG yoğunluğunu
                sınırlamaktadır. Böylece, en uygun teknolojilerin ve yenilikçi çözümlerin
                kullanımını teşvik etmektedir.</p>
          </div>
          <div id="compliance-how">
              <h3>Hedef Gemiler</h3>
              <p>
                • Brüt Tonaj: 5,000'in üzerinde olan yolcu ve yük taşıyan gemiler <br>
                • Bayrağa Bakılmaksızın: Avrupa Birliği (AB) limanlarına giren veya AB
                limanlarından ayrılan tüm gemiler</p>
          </div>
          <div id="compliance-limitations">
              <h3>Feul EU Uyum Belgesi</h3>
              
              <p>• Gemi sahiplerinin, gemilerinin kullandığı enerji miktarını ve türünü
                izlemeleri ve raporlamaları gerekmektedir. Bağımsız doğrulayıcılar,
                raporlamanın doğruluğunu ve eksiksizliğini denetleyecektir. Her gemi için
                uyum belgesi (FuelEU uyum belgesi) verilmesi gerekmektedir.</p>
          </div>
      </div>
  </div>
  <div class="timeline-container" id="important-dates">
    <h1 class="title">Önemli Tarihler</h1>
    <div class="timeline">
        <div class="timeline-item">
            <div class="hexagon">
                <div class="hexagon-inner">
                    <div class="hexagon-content">31 Ağustos 2024</div>
                </div>
            </div>
            <div class="description">
                <p>Gemi sahibi, akredite bir doğrulayıcıya FuelEU İzleme Planı'nı (MP) sunar. Bu plan, her geminin sera gazı yoğunluğu değerlendirmesini içermeli ve emisyonların nasıl izleneceği ve raporlanacağına dair önemli detayları sağlamalıdır.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="hexagon">
                <div class="hexagon-inner">
                    <div class="hexagon-content">Her yıl 31 Ocak</div>
                </div>
            </div>
            <div class="description">
                <p>Her yıl 31 Ocak'a kadar gemi sahibi şirket, doğrulayıcıya FuelEU raporunu sağlar. Gemi sahipliği ile ilgili şirket değişikliği durumunda, kısmi bir rapor şirket transferinden sonraki 1 ay içinde doğrulanmalıdır.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="hexagon">
                <div class="hexagon-inner">
                    <div class="hexagon-content">Her yıl 31 Mart</div>
                </div>
            </div>
            <div class="description">
                <p>Her yıl 31 Mart tarihinde doğrulayıcı FuelEU Raporunu FuelEU veritabanına kaydeder.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="hexagon">
                <div class="hexagon-inner">
                    <div class="hexagon-content">Her yıl 30 Nisan</div>
                </div>
                <br>
                <br>
            </div>
            <div class="description">
                <p>Her yıl 30 Nisan'a kadar gemi sahibi şirket, FuelEU veritabanına uyum onayını kaydeder. Doğrulayıcı, gemi raporunun nihai onayını verir ve nihai kaydını yapar.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="hexagon">
                <div class="hexagon-inner">
                    <div class="hexagon-content">Her yıl 30 Haziran</div>
                </div>
            </div>
            <div class="description">
                <p>Her yıl 30 Haziran'a kadar doğrulayıcı, FuelEU Uyum Belgesi'ni düzenler. Bir ceza uygulanması durumunda, Uyum Belgesi ödeme alındıktan sonra liman devleti otoriteleri tarafından düzenlenir.</p>
            </div>
        </div>
    </div>
    <div id="comments">
      <div class="comment">
          <img src="/image/voosust logo.png" alt="Kullanıcı Avatarı">
          <div class="comment-content">
              <h2>Düzenlemeye Uyum
                ile ilgili Öneriler</h2>
              <h3>GHG Yoğunluğu Düşük Enerji Politikası:</h3>
              <p>• Sürdürülebilir Yakıt Kullanımı: <br>
                Biyolojik Olmayan Yenilenebilir Yakıtlar (RFNBO): Örneğin;Methanol
                Yenilenebilir Karbon Yakıtlar (RCF): Kullanımı teşvik edilir
                Fosil LNG/LPG: Kullanımı <br>
                • Limanlarda Kıyıdan Elektrik Temini: <br>
                Limanlarda kıyıdan sağlanan elektrik enerjisinin kullanımı <br>
                • Seyir Halinde Rüzgar Desteğinden Yararlanma: <br>
                Rüzgar enerjisinin yardımcı güç kaynağı olarak kullanılması</p>
                <h2>Esnek Politikalar</h2>
                <p>• Gelecek Yıldan Maksimum %2 Uyum Kredisi Alma:
                  (2 yıl üst üste izin verilmez) <br>
                  • Uyum kredilerini diğer şirketler ile birlikte bir
                  gemi havuzuna dahil etmek</p>
               
          </div>
          
      </div>
      <a href="/image/FUEL.pdf" target="_blank" class="p-3 border bg-light d-block text-decoration-none">
        Bilgilendirme dosyası için tıklayın
      </a>
    <br>
    <br>
  </div>





 
  <section id="contact" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>BİZE ULAŞIN</h2>
                <p>Doğuş Caddesi No: 207/Z<br>
                   DEÜ Tınaztepe Yerleşkesi<br>
                   Buca 35390 İzmir/Türkiye</p>
                <h5> with e-mail</h5>
                <p> info@voosust.com <a href="mailto:info@voosust.com">Click here</a>.</p>
                <h5>Phone Number</h5>
                <p> +905333572747 <a href="tel:+905333572747">Click here</a>.</p>
            </div>
            
            <!-- Harita -->
            <div style="position: relative; width: 50%; height: 480px; overflow: hidden;">
                <iframe 
                    src="https://www.google.com/maps/d/u/0/embed?mid=1cF75pW_iyqOW7lVE3uc8Ne9ePkWlTI4&ehbc=2E312F" 
                    style="position: absolute; top: -75px; left: 0; width: 100%; height: 520px; border: none;">
                </iframe>
            </div>
        </div>
    </div>
  </section>
  <footer>
    <div class="footerContainer">
      <h2>İŞ ORTAKLARIMIZ</h2>
      <div class="companyLogos">
        <img src="/image/shipsgo.png" alt="Company Logo 1" class="company-logo">
        <img src="/image/medirterline.png" alt="Company Logo 2" class="company-logo">
        <img src="/image/logo3.png" alt="Company Logo 3" class="company-logo">
        <img src="/image/İBB.png" alt="Company Logo 3" class="company-logo">
        <img src="/image/ERKPORT.png" alt="Company Logo 4" class="company-logo">
        
      </div>
      <div class="socialIcons">
        <li>
            <a href="https://www.linkedin.com/company/voosust-sustainability-solutions/"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
          </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i> Facebook</a>
        </li>
        <li>
          <a href="https://www.instagram.com/voosust?igsh=MXQyMTNuN2wyd2xkZA=="><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Twitter</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a>
        </li>
        
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="/js/script.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>