<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VooSust Dijital Çözümler</title>
    <meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/image/favicon-16x16.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
   <!-- navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/static/image/voosust logo.png" alt=" logo" width="60" height="60">
      </a>
      <div class="dropdown d-inline"> 
        <button class="btn btn-sm px-0 dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          TR
        
        </button>
        <ul class="dropdown-menu border shadow" style="left:0 ;">
          <li>
            <a class="dropdown-item small py-1" href="/tr">Türkçe</a>
          </li>
          <li>
            <a class="dropdown-item small py-1" href="/">English</a>
          </li>
        </ul>
      </div>
   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mg-lg">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">ANASAYFA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about_us">HAKKIMIZDA</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#blog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BLOG
            </a>
            <ul class="dropdown-menu">
              
              <li><a style="color: green;" class="dropdown-item" href="/blog"> VooSust Blog</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="/carbon_credi-tr">Karbon Kredisi Ticareti</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="/cdr-tr">CDR Nedir ?
                </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="/turkey_rapor-tr">Türkiye Sürdürülebilirlik Raporu</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="/avrupa-tr">Fuel EU </a></li>
            </ul>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#special">HİZMETLERİMİZ</a>
          </li>
  
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#special" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FİYATLANDIRMA
            </a>
            <ul class="dropdown-menu">
              
              
              <li><a style="color: rgb(127, 156, 165);" class="dropdown-item" href="#">SILVER</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: rgb(94, 91, 85);" class="dropdown-item" href="#">GOLD</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: rgb(135, 155, 203);" class="dropdown-item" href="#">PLATINIUM</a></li>
            </ul>
          </li> -->
           
            <li class="nav-item">
                <a class="nav-link " href="#faq">SIKÇA SORULANLAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#contact">BİZE ULAŞIN</a>
              </li>
               <li class="nav-item">
                <a style="color: rgb(60, 22, 200);" class="nav-link " href="/login">LOG IN </a>
              </li> 
              <li class="nav-item">
                <a style="color: rgb(60, 22, 200);" class="nav-link " href="/register">SIGN UP</a>
              </li> 
              
              
          
      </div>
    </div>
  </nav>

<!-- UYOLMA MODEL -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLabel">ÜYE OL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form action ve method ekledik -->
        <form action="/auth/register" method="POST" class="py-3 text-start">
          <div class="row mb-3">
            <div class="col-md-6 mb-3">
              <input type="text" name="name" placeholder="Name and Surname" class="form-control" required />
            </div>
            <div class="col-md-6 mb-3">
              <input type="email" name="email" placeholder="Mail Address" class="form-control" required />
            </div>
          </div>
          <div class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Username" required />
          </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password" required />
          </div>
          <div class="mb-3">
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required />
          </div>
          <!-- Button artık submit işlemi yapacak -->
          <button type="submit" class="btn btn-primary">
            ÜYE OL
          </button>
        </form>
        <hr>
        <div class="text-center">
          <p>or</p>
          <button type="button" class="btn btn-danger" onclick="signInWithGoogle()">
            GOOGLE İLE BİZE KATIL
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
  carousel -->
  <div id="carouselExampleAutoplaying" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <!-- Forest Slide as the First Slide -->
        <div class="carousel-item active">
            <img src="/static/image/forest.jpg" class="d-block w-100 height" alt="orman">
            <div class="carousel-caption carousel1">
                <h1>VooSust ile Yeşil Bir Geleceğe Adım Atın!</h1>
                <p>Sürdürülebilirlik hedefleriyle VooSust, şirketlerin çevresel etkilerini en aza indirmelerine yardımcı olmayı amaçlamaktadır. Yenilikçi teknolojiler ve çözümler sunarak, karbon ayak izlerini azaltmalarını ve daha sürdürülebilir bir gelecek inşa etmelerinde onlara destek oluyoruz. Misyonumuz, iş dünyasında çevreye duyarlı uygulamaların benimsenmesini teşvik ederek gezegenimizin korunmasına katkıda bulunmaktır.</p>
            </div>
        </div>
        <!-- Computer Slide -->
        <div class="carousel-item">
            <img src="/static/image/computer-2982270_1920.jpg" class="d-block w-100 height" alt="Ofis">
            <div class="carousel-caption carousel1">
                <h1>Sürdürülebilir Ofisler, Yeşil Dünya</h1>
                <p>VooSust olarak, ofislerinizin karbon ayak izini doğru ve güvenilir bir şekilde hesaplayarak sürdürülebilir bir geleceğe önemli bir adım atmanızı sağlıyoruz. Yenilikçi teknolojilerimiz ve uzman ekibimizle enerji tüketiminizi optimize ediyor ve doğa üzerindeki etkinizi en aza indiriyoruz. Birlikte, daha temiz ve yaşanabilir bir dünya için çalışıyoruz.</p>
            </div>
        </div>
        <!-- Ship Slide -->
        <div class="carousel-item">
            <img src="/static/image/gemi.jpg" class="d-block w-100 height" alt="gemi">
            <div class="carousel-caption carousel1">
                <h1>Geleceği Koru, Karbonu Azalt</h1>
                <p>Misyonumuz, işletmelerin çevresel etkilerini azaltmalarına yardımcı olarak daha yeşil bir geleceğe katkıda bulunmaktır. Yüksek teknoloji destekli hizmetlerimizle, müşterilerimize karbon nötr hedeflerine ulaşmaları için gereken araçları sağlıyoruz.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

  <!-- Hakkımızda -->
  <section id="analysis" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5">
                <img src="/static/image/VooSust .png" class="img-fluid photo" alt="" />
            </div>
            <div class="col-md-6 align-self-center mt-3">
                <h3 id="about_us" class="text-align-CENTER text">Hakkımızda</h3>
                <p class="text" style="font-size: larger; color: darkgreen;">
                  VooSust, prensiplerini sürdürülebilirlik üzerine odaklayan bir organizasyondur. Misyonumuz, çevresel etkileri en aza indiren çözümler sunmak, toplumsal faydalar sağlamak ve gelecek nesillere sürdürülebilir bir dünya bırakmaktır. Sürdürülebilirlik raporlaması, karbon ayak izi ölçüm ve raporlama, karbon yönetimi ve karbon dengeleme alanlarında sektördeki uzmanlığımızı sergiliyoruz.
                    <br /><br />
                    VooSust, sürdürülebilir lojistik çözümleriyle tedarik zinciri süreçlerinde verimliliği artırmayı ve çevresel etkiyi azaltmayı hedefliyor. Ürün ve hizmetlerin yaşam döngüsü analizi ve sertifikasyon süreçleriyle sürdürülebilirlik performansını değerlendiriyor ve iyileştirme fırsatları sunuyoruz.
                    <br /><br />
                    Sürdürülebilirlik alanındaki geniş bilgi ve deneyimimizle, VooSust iş dünyasında ve toplumda olumlu değişim yaratma taahhüdündedir. Her adımda çevresel ve sosyal sorumluluklarımızı yerine getiriyor, sürdürülebilir bir geleceğe doğru ilerliyoruz.
                </p>
            </div>
        </div>
    </div>
</section>

  <!-- EKİBİMİZ -->

  <section id="team" class="py-5">
    <div class="container">
        <div class="row text-center mb-3">
            <div class="col-md-8 offset-md-2">
                <h2>EKİBİMİZ</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card team-card">
                    <div class="card-body text-center bg-light">
                        <img src="/static/image/yeni_orcun.png" class="img-fluid mb-3 team-img" alt="" />
                        <h4>Orçun ERBAYRAKTAR</h4>
                        <p>Kurucu Ortak</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card team-card">
                    <div class="card-body text-center bg-light">
                        <img src="/static/image/VOLKAN.jpg" class="img-fluid mb-3 team-img" alt="" />
                        <h4>Volkan ÇETİNKAYA</h4>
                        <p>Kurucu Ortak</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card team-card">
                    <div class="card-body text-center bg-light">
                        <img src="/static/image/ONUR.jpg" class="img-fluid mb-3 team-img" alt="" />
                        <h4>Onur AKDAŞ</h4>
                        <p>Kurucu Ortak</p>
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card team-card">
                    <div class="card-body text-center bg-light">
                        <img src="/static/image/ATA.jpg" class="img-fluid mb-3 team-img" alt="" />
                        <h4>Ata AVCI</h4>
                        <p>Yazılım Geliştirici</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Özelliklerimiz -->
<div class="wrapper">
  <h2 style="color: green;" id="special">HİZMETLERİMİZ</h2>
  <div class="content-box">
    <div class="card">
      <i class="fa-solid fa-user-graduate bx-md"></i>
      <h2>SÜRDÜRÜLEBİLİRLİK YÖNETİMİ</h2>
      <details>
        <summary class="detail-btn">Detay</summary>
        <div class="details-box">
          <p>-	Sürdürülebilirlik Danışmanlığı  </p>
          <p>-	Net-Sıfır Yol Haritası Oluşturma</p>
          <p>-	ESG Danışmanlığı</p>
          <p>-	ESG Olgunluk Analizi</p>
          <p>-	Sürdürülebilirlik Raporlaması (GRI-TSRS Standartlarında)</p>
          <p>-	Yeşil Sertifikalar Danışmanlığı</p>

          <p>-	AB-ETS ve SKDM Danışmanlığı</p>
          <p> -	EcoVadis Danışmanlığı</p>
          <p>-	Kurumsal Sürdürülebilirlik Eğitimleri</p>
        </div>
      </details>
    </div>
    <div class="card">
      <i class="fa-solid fa-chart-line bx-md"></i>
      <h2>	PROJE YÖNETİMİ</h2>
      <details>
        <summary class="detail-btn">Detay</summary>
        <div class="details-box">
          <p>-Dijital Sürdürülebilirlik Çözümleri</p>
          <p>	 -Yenilenebilir Enerji</p>
          <p>	- Yakıt ve Enerji Verimlilik Yönetimi</p>
          <p>	-Atık ve Kaynak Yönetimi</p>
          <p> - Lojistik ve Tedarik Zinciri Çözümleri </p>
         
        </div>
      </details>
    </div>
    <div class="card">
      <i class="fa-solid fa-chart-line bx-md"></i>
      <h2>DENİZ VE LOJİSTİK ÇEVRE DANIŞMANLIĞI</h2>
      <details>
        <summary class="detail-btn">Detaylar</summary>
        <div class="details-box">
          <p>- AB-ETS (Avrupa Birliği Emisyon Ticaret Sistemi)</p>
          <p>- MRV (İzleme, Raporlama ve Doğrulama)</p>
          <p>- CII (Karbon Yoğunluğu Göstergesi)</p>
          <p>- Fuel-EU</p>
          <P>-EUA Transfer</P>
        </div>
      </details>
    </div>
    <div class="card">
      <i class="fa-solid fa-tree"></i>
      <h2>İKLİM DEĞİŞİKLİĞİ VE KARBONSUZLAŞTIRMA</h2>
      <details>
        <summary class="detail-btn">Detay</summary>
        <div class="details-box">
          <p>-	Karbon Ayak İzi Hesaplama ve Raporlama</p>
          <p>-	Karbon Ayak İzi Takibi Karar Destek Sistemleri</p>
          <p> -	Karbon Nötrleme</p>
          <p>-	Karbon Piyasaları Danışmanlığı</p>
          <p>-	Karbon Kredisi Yönetimi</p>
          <p>-	EUA Transferi</p>
          <p>-	SBTI (Bilim Tabanlı Hedefler Girişimi) Uygunluk Analizi</p>
          <p>-	CTI (Karbon Şeffaflık Girişimi) uygunluk Analizi</p>

        </div>
      </details>
    </div>
   
  </div>
</div>
<br>
<br>
<br>
<div class="container" id="custom-container">
  <div class="row">
    
      <div class="col-md-6" id="left-section">
          <h2>Ofis için Karbon Hesaplama</h2>
          <p>Bu araç, ofis faaliyetlerinizin karbon ayak izini ölçmenize yardımcı olarak karbon dengeleme hakkında bilinçli kararlar almanızı sağlar.</p>
          <p>Belirli bir dönem boyunca ofisiniz tarafından üretilen toplam karbon emisyonlarını hesaplamak için gerekli parametreleri girin.</p>
          <p>Ofisinizin karbon emisyonlarını doğru bir şekilde hesaplayarak çevresel etkilerinizi azaltmaya ve sürdürülebilirliği teşvik etmeye katkıda bulunabilirsiniz.</p>
          <a href="./office_price-tr" class="btn btn-info" target="_blank">Paket Detayları</a>
          
      </div>
      
     
      <div class="col-md-6" id="right-section">
          <h3>Emisyon Hesaplayıcı</h3>
          <form id="offsetForm">
              <div class="mb-3">
                  <label for="custom-tonnage" class="form-label">Ülke</label>
                  <input type="text" class="form-control" id="custom-tonnage" placeholder="Ülke seçin">
              </div>
              <div class="mb-3">
                  <label for="custom-electric" class="form-label">Elektrik</label>
                  <input type="float" class="form-control" id="custom-electric" placeholder="kWh girin">
              </div>
              <div class="mb-3">
                <label for="custom-water" class="form-label">Su</label>
                <input type="float" class="form-control" id="custom-water" placeholder="m³ girin">
            </div>
              <div class="mb-3">
                  <label for="custom-gas" class="form-label">Doğalgaz</label>
                  <input type="float" class="form-control" id="custom-gas" placeholder="m³ girin">
              </div>
              <button type="button" id="calculateButton" class="btn-success" onclick="calculateOffset()">Hesapla</button>
          </form>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Hesaplama Sonucu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
      </div>
      <div class="modal-body">
        <p id="offsetResult">Dengeleme Miktarı: -- ton CO₂</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <a href="./office_price" class="btn btn-info" target="_blank">Paket Detayları</a>
      </div>
    </div>
  </div>
</div> 



<!-- iletişim -->





<section id="photo-gallery" class="py-5">
  <div class="container">
    <h2 id="photo-gallery-title" class="text-center">DİJİTAL HİZMETLER</h2>
    <div id="photo-gallery-row">
      <div class="photo-card">
        <img src="/static/image/data4.png" alt="Özellik 1" class="photo-img">
        <div class="photo-description">
          <h3>Gelişmiş Raporlama</h3>
          <p>Veri analizi yaparak çeşitli raporlar oluşturmanıza olanak tanır</p>
        </div>
      </div>
      <div class="photo-card">
        <img src="/static/image/data3.png" alt="Özellik 2" class="photo-img">
        <div class="photo-description">
          <h3>Kullanıcı Yönetimi</h3>
          <p>Kullanıcı hesaplarını oluşturma, düzenleme ve yönetme imkanı sağlar.</p>
        </div>
      </div>
      <div class="photo-card">
        <img src="/static/image/data2.png" alt="Özellik 3" class="photo-img">
        <div class="photo-description">
          <h3>Veri Yedekleme ve Geri Yükleme</h3>
          <p> Verilerinizi düzenli olarak yedekleyip geri yüklemenizi sağlar.</p>
        </div>
      </div>
      <div class="photo-card">
        <img src="/static/image/data1.png" alt="Özellik 4" class="photo-img">
        <div class="photo-description">
          <h3>Veri Yönetimi</h3>
          <p>Güvenli veri yönetimi ve erişim kontrolü sunar.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sertifika" class="mt-5">
  <h2 style="color: blue;" class=" text-center">SERTİFİKALARIMIZ</h2>
<section class="py-5" id="service">
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <a href="/static/image/3.pdf" target="_blank" class="p-3 border bg-light d-block text-decoration-none">
        ISO 14001:2015 Environmental Management System
      </a>
  </div>
    <div class="col">
      <a href="/static/image/1.pdf" target="_blank" class="p-3 border bg-light d-block text-decoration-none">
        ISO/IEC 27001:2022 Information Security Management System
      </a>
  </div>
  <div class="col">
    <a href="/static/image/2.pdf" target="_blank" class="p-3 border bg-light d-block text-decoration-none">
      ISO 9001:2015 Quality Management System
    </a>
</div>
  
  </div>
</div>



<br>
<br>
<br>




<!-- BLOG -->
<!-- <div style="margin-top: 20px; margin-bottom: 20px;" id="blog">
  <h2 style="text-align: center;">Blog</h2>
</div>

<div class="container blog-container">
  <div class="row">
   
    <div class="col-md-3 mb-4">
      <div class="card-blog card">
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7229772052281364480" height="544" width="100%" frameborder="0" allowfullscreen="" title="Gömülü gönderi"></iframe>
        <div class="card-body">
          <p class="card-text">FuelEU Maritime</p>
          <a href="https://www.linkedin.com/company/voosust-sustainability-solutions/" class="btn btn-primary" target="_blank">Daha Fazla</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3 mb-4">
      <div class="card-blog card">
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7182470139223621632" height="400" width="100%" frameborder="0" allowfullscreen="" title="Gömülü gönderi"></iframe>
        <div class="card-body">
          <p class="card-text">Discover how VooSust can elevate your company’s market performance by preparing a sustainability report. Experience the power of sustainability in enhancing your brand’s value.</p>
          <a href="https://www.linkedin.com/company/voosust-sustainability-solutions/" class="btn btn-primary" target="_blank">Daha Fazla</a>
        </div>
      </div>
    </div>

   
    <div class="col-md-3 mb-4">
      <div class="card-blog card">
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7192058526402334721" height="400" width="100%" frameborder="0" allowfullscreen="" title="Gömülü gönderi"></iframe>
        <div class="card-body">
          <p class="card-text">Let’s Lead You to Your SBTi Targets while it is getting a requirement of global trade</p>
          <a href="https://www.linkedin.com/company/voosust-sustainability-solutions/" class="btn btn-primary" target="_blank">Daha Fazla</a>
        </div>
      </div>
    </div>

   
    <div class="col-md-3 mb-4">
      <div class="card-blog card">
        <iframe src="https://www.linkedin.com/company/voosust-sustainability-solutions/" height="400" width="100%" frameborder="0" allowfullscreen="" title="Gömülü gönderi"></iframe>
        <div class="card-body">
          <p class="card-text">Taking Steps in Your Sustainability Journey: Our EU-ETS Road Map Report for Maritime Businesses is Out</p>
          <a href="https://www.linkedin.com/company/voosust-sustainability-solutions/" class="btn btn-primary" target="_blank">Daha Fazla</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- sıkça sorulan sorular -->
<section id="faq" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="/static/image/faq.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7 align-self-center pt-3">
        <h2>SIKÇA SORULANLAR</h2>
        <div class="accordion mt-9">
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_01"
              >
                Net sıfır hedefi nedir ve neden önemlidir?
              </button>
            </div>
            <div id="acc_01" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <p>Net sıfır hedefi, bir şirketin, kurumun veya ülkenin atmosfere saldığı sera gazı emisyonlarını sıfırlamayı hedeflediği anlamına gelir. Bu, genellikle emisyonları azaltmak ve kalan emisyonları dengelemek suretiyle gerçekleştirilir. Şirketler net sıfır hedeflerini belirlemek için öncelikle mevcut emisyonlarını hesaplamalı ve analiz etmelidir. Daha sonra, bu emisyonları azaltmak için belirli hedefler ve stratejiler belirlemelidirler.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_02"
              >
                Net sıfır hedefleri ile karbon ayak izi takibi arasındaki ilişki nedir?
              </button>
            </div>
            <div id="acc_02" class="accordion-collapse collapse">
              <div class="accordion-body">
               <p>Net sıfır hedefleri, karbon ayak izi takibini içerir. Net sıfır hedeflerine ulaşmak için şirketler, karbon ayak izlerini sürekli olarak izlemeli ve azaltmayı hedeflemelidir. Karbon ayak izi, bir bireyin, şirketin veya ürünün doğrudan ve dolaylı olarak atmosfere saldığı toplam sera gazı miktarını ifade eder. Karbon ayak izi, genellikle CO2 eşdeğeri (CO2e) cinsinden hesaplanır. Hesaplama, enerji tüketimi, ulaşım, atık yönetimi ve diğer faaliyetlerden kaynaklanan emisyonları içerir. Bu emisyonların firmaların kendisi ve devletler tarafından takibi yapılması gerekmektedir. Devletler tarafından takibi ile ilgili Dünya’da uygulanan Emisyon Ticaret Sistemleri bulunmaktadır. Bu konuda uygulamaya ilk konulan sistemlerden birisi EU-ETS’dir</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_03"
              >
                EU Emission Trading System (EU ETS) nedir ve nasıl çalışır?
              </button>
            </div>
            <div id="acc_03" class="accordion-collapse collapse">
              <div class="accordion-body">
                EU Emission Trading System (EU ETS), Avrupa Birliği'nin karbon emisyonlarını azaltmak için oluşturduğu bir emisyon ticaret sistemidir. Bu sistemde, belirli bir miktar emisyon izni (cap) belirlenir ve şirketler bu izinleri ticaret yaparak kullanabilirler. Şirketler, emisyonlarını azaltarak ihtiyaç duyduklarından fazla izinlerini satabilir veya izinleri satın alarak emisyonlarını dengeleyebilir. EU-ETS kapsamında ithal edilen ürünlerin karbon emisyonları dikkate alınarak ek bir vergi uygulanır. Bu sistemin ismi SKDM (Sınırda Karbon Düzenleme Mekanizmasıdır).
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_04"
              >
                Sınırda Karbon Düzenleme Mekanizması (SKDM) nedir ve neden uygulanır?
              </button>
            </div>
            <div id="acc_04" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Sınırda Karbon Düzenleme Mekanizması (SKDM), Avrupa Birliği'nin ithal edilen ürünlerin karbon içeriklerine göre çalışan bir uygulamadır. SKDM  yerli üreticiler ile ithalatçılar arasında eşit bir ticaret alanı sağlamak ve karbon sızıntısını önlemek amacıyla uygulanır. EU-ETS ve SKDM gibi mekanizmalar, şirketlerin karbon emisyonlarını izlemelerini ve azaltmalarını ve sürdürülebilirlik hedeflerini ulaşmalarını teşvik eder.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_05"
              >
                Sürdürülebilirlik ve ESG (Çevresel, Sosyal ve Yönetişim) nedir?
              </button>
            </div>
            <div id="acc_05" class="accordion-collapse collapse">
              <div class="accordion-body">
               <p>Sürdürülebilirlik, doğal kaynakları koruyarak ve çevresel, sosyal ve ekonomik faktörleri dengeleyerek gelecek nesillerin ihtiyaçlarını karşılayabilme yeteneğidir. ESG kriterlerine uyan şirketler, yatırımcılar, müşteriler ve diğer paydaşlar nezdinde daha güvenilir ve sorumlu olarak algılanır. Ayrıca, ESG performansı yüksek olan şirketler, uzun vadeli finansal başarı ve sürdürülebilir büyüme elde etme olasılıkları daha yüksektir ve şirketlerin bu performanslarını raporlamaları gerekir.

               </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_06"
              >
                Sürdürülebilirlik raporu nedir ve neden gereklidir?
              </button>
            </div>
            <div id="acc_06" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Sürdürülebilirlik raporu, bir şirketin çevresel, sosyal ve ekonomik performansını ve sürdürülebilirlik hedeflerine yönelik ilerlemelerini açıklayan belgedir. Bu raporlar, şirketlerin sürdürülebilirlik çabalarını, başarılarını ve gelecekteki hedeflerini şeffaf bir şekilde paylaşmalarını sağlar. Bu raporlamada dünyada ve Türkiye’de kullanılan iki yaygın standart vardır. Bunlardan GRI Standartları, şirketlerin ekonomik, çevresel ve sosyal etkilerini raporlamaları için yönergeler sunar. TSRS (Türkiye Sürdürülebilirlik Raporlama Standartları), Türkiye'de faaliyet gösteren şirketler için sürdürülebilirlik raporlaması konusunda rehberlik eden yerel standartlardır. Türkiye’de yıllık aktif toplamı 500 milyon Türk Lirası, Yıllık Net Satış Hasılatı  1 milyar Türk Lirası olan ve 250 kişi çalıştırma kriterlerinden herhangi iki tanesini sağlayan firmaların TSRS kapsamındaki sürdürülebilirlik raporlaması zorunluluğu bulunmaktadır.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_07"
              >
              	Karbon kredisi nedir ve nasıl çalışır?
              </button>
            </div>
            <div id="acc_07" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Karbon kredisi, bir ton karbondioksit (CO2) veya eşdeğer miktarda başka bir sera gazı emisyonunun azaltılması, ortadan kaldırılması veya önlenmesi karşılığında verilen bir sertifikadır. Bu sertifikalar, emisyon azaltma projeleri tarafından üretilir ve gönüllü veya düzenleyici karbon piyasalarında alınıp satılabilir. Sertifikalandırılmış karbon kredileri, gönüllü veya düzenleyici karbon piyasalarında alınıp satılabilir. Şirketler ve bireyler, karbon ayak izlerini dengelemek amacıyla bu kredileri satın alabilirler.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#acc_08"
              >
              	Karbon offsetleme (denkleştirme)  nedir ve neden önemlidir?
              </button>
            </div>
            <div id="acc_08" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Şirketler ve bireyler, karbon kredileri satın alarak kendi emisyonlarını denkleştirebilirler. Örneğin, bir şirketin yıllık karbon ayak izi 10,000 ton CO2 ise, bu miktarı denkleştirmek için 10,000 karbon kredisi satın alabilir. Karbon offsetleme, özellikle net sıfır hedeflerine ulaşmak isteyen kuruluşlar için önemli bir strateji olarak kullanılır.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>BİZE ULAŞIN</h2>
                <p>Doğuş Caddesi No: 207/Z<br>
                   DEÜ Tınaztepe Yerleşkesi<br>
                   Buca 35390 İzmir/Türkiye</p>
                <h5> Mail</h5>
                <p> info@voosust.com <a href="mailto:info@voosust.com">Tıkla</a>.</p>
                <h5>Telefon Numarası</h5>
                <p> +905333572747 <a href="tel:+905333572747">Tıkla</a>.</p>
            </div>
            
            <!-- Harita -->
            <div style="position: relative; width: 50%; height: 480px; overflow: hidden;">
              <iframe 
                  src="https://www.google.com/maps/d/u/0/embed?mid=1cF75pW_iyqOW7lVE3uc8Ne9ePkWlTI4&ehbc=2E312F" 
                  style="position: absolute; top: -75px; left: 0; width: 100%; height: 520px; border: none;">
              </iframe>
          </div>
        </div>
    </div>
  </section>
  <footer>
    <div class="footerContainer">
      <h2>İŞ ORTAKLARIMIZ</h2>
      <div class="companyLogos">
        <img src="/static/image/shipsgo.png" alt="Company Logo 1" class="company-logo">
        <img src="/static/image/medirterline.png" alt="Company Logo 2" class="company-logo">
        <img src="/static/image/logo3.png" alt="Company Logo 3" class="company-logo">
        <img src="/static/image/İBB.png" alt="Company Logo 3" class="company-logo">
        <img src="/static/image/ERKPORT.png" alt="Company Logo 4" class="company-logo">
        
      </div>
      <div class="socialIcons">
        <li>
          <a href="https://www.linkedin.com/company/voosust-sustainability-solutions/"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i> Facebook</a>
        </li>
        <li>
          <a href="https://www.instagram.com/voosust?igsh=MXQyMTNuN2wyd2xkZA=="><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Twitter</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a>
        </li>
       
      </div>
    </div>
  </footer>
  
    <SCript src="/static/js/script.js"></SCript>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
