<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VooSust Digital Solutions</title>
    <meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com">
    <link rel="stylesheet" href="/css/office.css">
    <link rel="icon" href="/image/favicon-16x16.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
   <!-- navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/image/voosust logo.png" alt=" logo" width="60" height="60">
      </a>
      <div class="dropdown d-inline"> 
        <button class="btn btn-sm px-0 dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          EN
        
        </button>
        <ul class="dropdown-menu border shadow" style="left:0 ;">
          <li>
            <a class="dropdown-item small py-1" href="/office_price-tr">Türkçe</a>
          </li>
          <li>
            <a class="dropdown-item small py-1" href="/office_price">English</a>
          </li>
        </ul>
      </div>
   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mg-lg">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about_us">ABOUT US</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#blog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BLOG
            </a>
            <ul class="dropdown-menu">
              
              <li><a style="color: green;" class="dropdown-item" href="./blog"> VooSust Blog</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="./carbon_credi">Carbon Credit Trading</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="./cdr">What is
                CDR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="./turkey_rapor">Turkey Sustainability Reports</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: green;" class="dropdown-item" href="./avrupa">Fuel EU </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#special">SERVICES</a>
          </li>
  
         
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#special" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PRICING
            </a>
            <ul class="dropdown-menu">
              
              
              <li><a style="color: rgb(127, 156, 165);" class="dropdown-item" href="#">SILVER</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: rgb(94, 91, 85);" class="dropdown-item" href="#">GOLD</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: rgb(135, 155, 203);" class="dropdown-item" href="#">PLATINIUM</a></li>
            </ul>
          </li> -->
            <li class="nav-item">
                <a class="nav-link " href="#faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#contact">CONTACT US</a>
              </li>
               <li class="nav-item">
                <a style="color: rgb(60, 22, 200);" class="nav-link " href="./login">LOG IN</a>
              </li> 
              <li class="nav-item">
                <a style="color: green;" class="nav-link btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal" >SIGN UP</a>
              </li>
              
              
          
      </div>
    </div>
  </nav>

<!-- UYOLMA MODEL -->
<!-- <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="py-3 text-start">
          <div class="row mb-3">
            <div class="col-md-6 mb-3">
              <input type="text" placeholder="Name and Surname" class="form-control" />
            </div>
            <div class="col-md-6 mb-3">
              <input type="email" placeholder="Mail Address" class="form-control" />
            </div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Username" />
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" />
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" />
          </div>
          <button type="button" class="btn btn-primary">
            Sign Up
          </button>
        </form>
        <hr>
        <div class="text-center">
          <p>or</p>
          <button type="button" class="btn btn-danger" onclick="signInWithGoogle()">
            Sign in with Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br> -->
<div class="table-pricing">
  <div class="details">
    <h2>Package to your suit plan</h2>
    <p></p>
    <div class="grid">
      <div class="box discover">
        <div class="title">Discover Sustainabity in Your Office </div>
        <div class="price">
          <b>Free</b>
          <span>per month</span>
        </div>
        <div class="features">
          <div>	Quick Carbon Footprint Assessment</div>
          <div>Snapshot Report</div>
          <div>-</div>
          <div>-</div>
          <div>-</div>
        </div>
        <details>
          <summary class="detail-btn">Details</summary>
          <div class="details-box">
            <p>-	Outcome: An introductory assessment designed to help your office take its first steps towards sustainability. </p>
            <p>-	Target Customer: Small businesses or offices that are new to sustainability and want to explore the process.</p>
            
           
  
          </div>

        </details>
      </div>
      <div class="box embrace">
        <div class="title">Embrace Sustainable in Your Office </div>
        <div class="price">
          <b>$25</b>
          <span>per month</span>
        </div>
        <div class="features">
          <div>	Comprehensive Carbon Footprint Assessment</div>
          <div>Carbon Footprint Report</div>
          <div>Carbon Offset Service</div>
          <div>-</div>
          <div>-</div>
        </div>
        <details>
          <summary class="detail-btn">Details</summary>
          <div class="details-box">
            <p>Outcome: A strategic roadmap that helps your office significantly reduce and offset its carbon emissions. </p>
            <p>  Target Customer: Medium-sized businesses ready to take meaningful action towards becoming more sustainable</p>
            
            <div class="button">
              <a href="/payment">
                <button>BUY</button>
              </a>
            </div>
  
          </div>

        </details>
      </div>
      <div class="box lead">
        <div class="title">Lead Sustainability  </div>
        <div class="price">
          <b>$60</b>
          <span>per month</span>
        </div>
        <div class="features">
          <div>	Advanced Carbon Footprint Assessment</div>
          <div>	Carbon Footprint Report</div>
          <div>	Carbon Offset Service</div>
          <div>	Employee Training Programs</div>
          <div>	ESG (Environmental, Social and Governance)  Preliminary Assessment</div>
        </div>
        <details>
          <summary class="detail-btn">Details</summary>
          <div class="details-box">
            <p>	Target Customer: Small-medium-large offices or corporations committed to leading the way in sustainability and achieving comprehensive environmental goals. </p>
          
            <div class="button">
              <a href="mailto:info@voosust.com">
                  <button>CONTACT WITH US</button>
              </a>
          </div>
          
  
          </div>

        </details>
      </div>
    </div>
  </div>
</div>




<section id="contact" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>CONTACT US</h2>
                <p>Doğuş Caddesi No: 207/Z<br>
                   DEÜ Tınaztepe Yerleşkesi<br>
                   Buca 35390 İzmir/Türkiye</p>
                <h5> with e-mail</h5>
                <p> info@voosust.com <a href="mailto:info@voosust.com">Click here</a>.</p>
                <h5>Phone Number</h5>
                <p> +905333572747 <a href="tel:+905333572747">Click here</a>.</p>
            </div>
            
            <!-- Harita -->
            <div style="position: relative; width: 50%; height: 480px; overflow: hidden;">
              <iframe 
                  src="https://www.google.com/maps/d/u/0/embed?mid=1cF75pW_iyqOW7lVE3uc8Ne9ePkWlTI4&ehbc=2E312F" 
                  style="position: absolute; top: -75px; left: 0; width: 100%; height: 520px; border: none;">
              </iframe>
          </div>
        </div>
    </div>
  </section>
  <footer>
    <div class="footerContainer">
      <h2>OUR PARTNERS</h2>
      <div class="companyLogos">
        <img src="/image/shipsgo.png" alt="Company Logo 1" class="company-logo">
        <img src="/image/medirterline.png" alt="Company Logo 2" class="company-logo">
        <img src="/image/logo3.png" alt="Company Logo 3" class="company-logo">
        <img src="/image/İBB.png" alt="Company Logo 3" class="company-logo">
        <img src="/image/ERKPORT.png" alt="Company Logo 4" class="company-logo">
        
      </div>
      <div class="socialIcons">
        <li>
          <a href="https://www.linkedin.com/company/voosust-sustainability-solutions/"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i> Facebook</a>
        </li>
        <li>
          <a href="https://www.instagram.com/voosust?igsh=MXQyMTNuN2wyd2xkZA=="><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Twitter</a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a>
        </li>
       
      </div>
    </div>
  </footer>
  
      <SCript src="/js/script.js"></SCript>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
      <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
  </html>
  