<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/office.css">  <title>Office Karbon</title>
</head>
<body>
  <div id="introduction" class="container mb-4">
    <div class="row">
      <div class="col-md-5">
        <img src="/static/image/ovo2.png" class="img-fluid" alt="Office Image" />
      </div>
      <div class="col-md-7 align-self-center pt-3">
        <h6 style="color:rgb(21, 175, 139);">OFİS KARBONU HESAPLAMA NE İÇİN YAPILIR</h6>
        <p>İSO GİBİ BİLGİLERİN VERİLMESİ</p>
      </div>
    </div>
  </div>

  <div id="check" class="container mb-5">
    <div class="row">
      <div class="col-md-5">
        <img  id="belge" src="/static/image/enerji-sektoru-ornek-iso-9001-belgesi.jpg" class="img-fluid" alt="Office Image" />
      </div>
      <div class="col-md-7 align-self-center pt-3">
        <h6 style="color:rgb(21, 175, 139);">hizmet alınması duurmunda alcağı sertfika ile avantajları</h6>
        <li>
          <span class="list-name">Service content</span>
          <span class="icon-check"><i style="color: green;" class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Service content</span>
          <span class="icon-check"><i style="color: green;" class="fas fa-check"></i></span>
        </li>
        </div>
    </div>
  </div>

  <div class="container">
    <h1>Parametre Formu</h1>
    <form id="paramForm">
        <label for="param1">Parametre 1:</label>
        <select id="param1" name="param1" required>
            <option value="1.1">Parametre A</option>
            <option value="2.2">Parametre B</option>
            <option value="3.3">Parametre C</option>
        </select>
        
        <label for="quantity1">Miktar 1:</label>
        <input type="number" id="quantity1" name="quantity1" required>
        
        <label for="param2">Parametre 2:</label>
        <select id="param2" name="param2" required>
            <option value="1.1">Parametre A</option>
            <option value="2.2">Parametre B</option>
            <option value="3.3">Parametre C</option>
        </select>
        
        <label for="quantity2">Miktar 2:</label>
        <input type="number" id="quantity2" name="quantity2" required>
        
        <label for="param3">Parametre 3:</label>
        <select id="param3" name="param3" required>
            <option value="1.1">Parametre A</option>
            <option value="2.2">Parametre B</option>
            <option value="3.3">Parametre C</option>
        </select>
        
        <label for="quantity3">Miktar 3:</label>
        <input type="number" id="quantity3" name="quantity3" required>
        
        <label for="param4">Parametre 4:</label>
        <select id="param4" name="param4" required>
            <option value="1.1">Parametre A</option>
            <option value="2.2">Parametre B</option>
            <option value="3.3">Parametre C</option>
        </select>
        
        <label for="quantity4">Miktar 4:</label>
        <input type="number" id="quantity4" name="quantity4" required>
        
        <label for="param5">Parametre 5:</label>
        <select id="param5" name="param5" required>
            <option value="1.1">Parametre A</option>
            <option value="2.2">Parametre B</option>
            <option value="3.3">Parametre C</option>
        </select>
        
        <label for="quantity5">Miktar 5:</label>
        <input type="number" id="quantity5" name="quantity5" required>

        <button type="submit">Hesapla</button>



 <div id="resultModal" class="modal">
     <div class="modal-content">
              <span class="close">&times;</span>
              <p id="result"></p>
              <button id="contactUs">Bize Ulaşın</button>
          </div>
      </div>



